<html>
<head>
	<title>Error Create patient | Page</title>
</head>
<body align="center">
<br/><br/><br/>
    <h1>Diseases Error</h1>
    <h2>Sorry !</h2>
    <h2>Empty vlaue is not allowed.</h2>
    <h2>First letter must be a letter.</h2>
    <h2>Dot(.) allowed<h2>
	<h2><a href="/homeadmin/create_patient">Back</a> </h2>
</body>
</html>