<html>
<head>
	<title>Error Edit patient | Page</title>
</head>
<body align="center">
<br/><br/><br/>
    <h1>Name Error</h1>
    <h2>Sorry !</h2>
    <h2>Numeric or Empty vlaue is not allowed</h2>
	<h2><a href="/homeadmin/edit_patient/<%= list %>">Back</a> </h2>
</body>
</html>