<html>
<head>
	<title>Error Edit Nurse | Page</title>
</head>
<body align="center">
<br/><br/><br/>
    <h1>Address Error</h1>
    <h2>Sorry !</h2>
    <h2>Empty vlaue is not allowed</h2>
	<h2><a href="/homeadmin/edit_nurse/<%= list %>">Back</a> </h2>
</body>
</html>