<html>
<head>
	<title>Error Create Room | Page</title>
</head>
<body align="center">
<br/><br/><br/>
    <h1>Room Number Error</h1>
    <h2>Sorry !</h2>
    <h2>Empty vlaue is not allowed</h2>
    <h2>Only digits are allowed</h2>
	<h2><a href="/homeadmin/create_room">Back</a> </h2>
</body>
</html>