<html>
<head>
	<title>Error Edit Room | Page</title>
</head>
<body align="center">
<br/><br/><br/>
    <h1>Same patient number Error</h1>
    <h2>Sorry !</h2>
    <h2>Same patient in two different room, not possible.</h2>
	<h2><a href="/homeadmin/edit_room/<%= list %>">Back</a> </h2>
</body>
</html>