<html>
<head>
	<title>Error Create Doctor | Page</title>
</head>
<body align="center">
<br/><br/><br/>
    <h1>Phone Number Error</h1>
    <h2>Sorry !</h2>
    <h2>Empty vlaue is not allowed.</h2>
    <h2>Phone number must be consist of 11 digits.</h2>
    <h2>Only number's are allowed.</h2>
	<h2><a href="/homeadmin/create_doctor">Back</a> </h2>
</body>
</html>